BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 1000000
